{
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "printWidth": 80,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "none",
    "semi": false,
    "useTabs": true
}