.lifebar-illustration-container {
	width: 80%;
	margin: 30px auto;
	border-radius: 20px;
}

img.lifebar-annotation {
	margin: 30px auto 0 auto;
	width: 100%;
}

.lifebar-container {
	background-color: #ffdebf;
	height: 50px;
	position: relative;
}

.lifebar {
	background-color: #4caf50;
	height: 100%;
	width: 0;
	transition: width 1s ease-in-out;
}

.lifebar-text {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(25%);
	line-height: 30px;
	/* Center vertically */
	font-size: var(--font-size-normal);
	color: var(--text-color-for-light-theme);
	/* Text color */
}
