@tailwind base;
@tailwind components;
@tailwind utilities;

/* *************************************************** */
/* *************************************************** */
/*                   APP                               */
/* *************************************************** */
/* *************************************************** */

.App {
  text-align: center;
  background: var(--light-1);
  color: #0F0F0F;
  height: 100%;
  min-height: 100vh;
  font-size: var(--font-size-normal);
}

h1 {
  font-size: var(--font-size-xlarge);
  margin: 0.8rem auto;
  text-align: left;
}

h2 {
  font-size: var(--font-size-large);
  margin: 0.5rem auto;
  text-align: left;
}

h5 {
  font-size: var(--font-size-normal);
  margin: 0.5rem auto;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0.8rem auto;
}

br.small {
  font-size: 10px;
  margin: 0;
}

.xlarge {
  font-size: var(--font-size-xlarge);
}

a,
a:visited {
  text-decoration: underline;
  color: #091372;
}

.dark a,
.dark a:visited {
  color: #a9adff;
}

.left.intro {
  width: 40%;
}

.right.intro {
  width: 52%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@layer components {
  .background-color-2 {
    @apply bg-primary-10;
  }
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}


.fade {
  color: var(--black-blue-2);
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  /* border-width: 1px; */
  background-color: var(--secondary);
  cursor: pointer;
  border: 2px solid var(--primary);
  color: #000000;
}

button:hover {
  background-color: var(--primary);
}

.dark button {
  background: var(--primary);
}

.dark button:hover {
  background: var(--secondary);
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 982px;
  text-align: left;
}

@media (max-width: 500px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xlarge {
    font-size: var(--font-size-large);
  }
}

/* *************************************************** */
/*                        DARK                         */
/* *************************************************** */
.dark .App,
.dark .navbar-container {
  background: var(--dark-1);
  color: #F0F0F0;
}

.dark .background-color-2 {
  background: var(--dark-2);
}

.dark .fade {
  color: var(--black-blue)
}

.App,
a,
a:visited,
.dark a,
.dark a:visited,
.container,
.dark .container,
body,
body.dark,
.dark .navbar-container,
.navbar-container {
  transition: 300ms ease;
}


/* ################################################### */
/* ################################################### */
/* ##                   NAV BAR                     ## */
/* ################################################### */
/* ################################################### */

@layer components {
  nav .theme-icon {
    @apply flex ml-auto mr-2 p-2 rounded-lg transition duration-300 ease-in-out text-black cursor-pointer hover:bg-primary hover:text-white dark:hover:bg-primary-dark dark:text-white;
  }

  nav a.navbar-item {
    @apply no-underline px-2 py-1 mx-1 block rounded-lg duration-300 ease-in-out text-black visited:text-black hover:bg-primary hover:text-white dark:hover:bg-primary-dark dark:hover:text-white dark:text-white dark:visited:text-white;
  }

  nav button.hamburger-menu {
    display: none;
    background-color: transparent;
  }

  button.hamburger-menu path {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    fill: black;
  }

  .dark button.hamburger-menu path,
  button.hamburger-menu:hover path {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    fill: white;
  }

  nav button.hamburger-menu {
    @apply duration-300 ease-in-out hover:bg-primary dark:hover:bg-primary-dark
  }
}

.navbar-container nav {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  padding: 0.2rem 0;
}

.navbar-container {
  /* Sticky properties */
  position: sticky;
  top: 0;
  z-index: 1;
  /* Overlay content / Make element lies above others */
  background: var(--light-1);
}


.navbar-container ul,
.navbar-container li {
  width: fit-content;
  display: flex;
}

.navbar-container ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;
}


a.navbar-item.brand {
  font-size: var(--font-size-large);
}


div.navbar-container {
  margin-left: auto;
}

.navbar-container {
  border-top: 4px solid #424242;
  border-bottom: 1px solid #c6c6c6;
  padding-left: 15px;
  padding-right: 15px;
}

.standard-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 982px;
}


@media (max-width: 700px) {
  ul.navbar-items {
    display: none;
  }

  nav button.hamburger-menu {
    display: block;
    border: none;
    border-radius: 0.5rem;
  }

  /* when click the hamburger-menu button */
  ul.navbar-items {
    /* The hide/show part */
    opacity: 0;
    /* Hide menu first */
    display: none;

    /* Position */
    position: absolute;
    top: 50.6px;
    right: -15px;

    /* Styling */
    backdrop-filter: blur(3rem);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 0rem 0rem 0rem 0.5rem;
  }

  ul.navbar-items.display-vertical-nav-items {
    opacity: 1;
    display: inline-block;
  }

  .dark ul.navbar-items.display-vertical-nav-items {
    background-color: rgba(255, 255, 255, 0.1);
  }
}


/* ################################################### */
/* ################################################### */
/* ##                   HOME BIO                    ## */
/* ################################################### */
/* ################################################### */

.row.introduction {
  grid-column-gap: 20px;
  align-items: center;
}

.portrait {
  border-radius: 10px;
  grid-column: span 5;
  margin-top: 1rem;
}

.portrait .img-container {
  width: 260px;
  height: 260px;
  float: right;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: lab(from #000000 2rem 2rem 2rem);
  margin: 0 1rem;
}

.portrait .img-container img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  position: relative;
  transform-origin: top;
  transition: transform 0.3s ease;
}

.portrait .img-container:hover img {
  transform: scale(1.06);
}

.bio {
  grid-column: span 6;
  text-align: left;
}

.bio p {
  margin: 0;
  text-align: left;
}

.bio .quote {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-style: italic;
}


@media (max-width: 820px) {
  .bio {
    grid-column: span 12;
    text-align: center;
  }

  .portrait {
    grid-column: span 12;
  }

  .portrait .img-container {
    /* Use <div className=img-container> to contain zoomed <img> inside */
    width: 120px;
    height: 120px;
    border-radius: 10px;
    float: left;
    transition: transform 0.3s ease;
  }

  .img-container img {
    object-fit: cover;
    transform: scale(1.2);
  }
}

/* ################################################### */
/* ################################################### */
/* ##                   HISTORY                     ## */
/* ################################################### */
/* ################################################### */
.history .time {
  grid-column: span 1;
  text-align: center;
}

.history .entry-dot {
  position: absolute;
  top: 0px;
  left: -4px;
  width: 6px;
  height: 6px;
  border-radius: 7px;
  background: var(--dark-1);
  border: 2px solid var(--dark-1);
}

.history .company-logo {
  grid-column: span 1;
  vertical-align: top;
  border-left: 2px solid #cfcfcf;
  position: relative;
}

.history .company-logo img {
  border-radius: 5px;
  width: 100%;
  max-width: 80px;
  margin-left: 10px;
  margin-bottom: 1rem;
}

.history .description {
  grid-column: span 10;
  font-size: 17px;
  vertical-align: top;
  padding-left: 20px;
  padding-bottom: 1rem;
}

.history p {
  margin: auto auto 0.5rem auto;
  text-align: justify;
}

.description h5 {
  margin-top: 0;
}

@media (max-width: 800px) {
  .history .time {
    font-size: var(--font-size-small);
    padding-top: 5px;
    padding-right: 5px;
  }
}

/* ################################################### */
/* ################################################### */
/* ##                MY PET PROJECTS                ## */
/* ################################################### */
/* ################################################### */

.button {
  color: white;
  padding: 10px 30px 12px;
  font-size: var(--font-size-large);
  border-radius: 6px;
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--secondary);
}


/* ################################################### */
/* ################################################### */
/* ##                   BLOGS                       ## */
/* ################################################### */
/* ################################################### */
.blogs ul li {
  margin: 0.5rem 0;
}


/* ################################################### */
/* ################################################### */
/* ##                   SKILLS                      ## */
/* ################################################### */
/* ################################################### */

.skills ul {
  list-style: none;
}

.skills h2 {
  font-weight: normal;
}

svg.leetcode-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.dark svg path.leetcode-icon-path-1 {
  fill: #b1d5f1
}


/* ################################################### */
/* ################################################### */
/* ##                   CARD                        ## */
/* ################################################### */
/* ################################################### */

.card {
  --bs-card-border-radius: 0.5rem;
  --bs-card-inner-border-radius: calc(0.5rem - 1px);
}

.card-body {
  background: var(--light-2);
  border-color: var(--light-2);
  border-radius: 0 0 .5rem .5rem;
}

.bg-dark {
  --bs-bg-opacity: 0.1;
}


/* ################################################### */
/* ################################################### */
/* ##                     BUTTON                    ## */
/* ################################################### */
/* ################################################### */

.btn-primary {
  margin: 0 0.2rem;
  --bs-btn-focus-shadow-rgb: none;
  font-size: var(--font-size-normal);
}



/* ################################################### */
/* ################################################### */
/* ##                   CONTACT                     ## */
/* ################################################### */
/* ################################################### */

.contact-list {
  padding-left: 10%;
  padding-right: 10%;
}

.contact-list .quote {
  display: inline;  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.author {
  margin-top: 0;
  font-style: italic;
}

.icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 500px) {
  .contact-list .center {
    margin-left: 7%;
    margin-right: 7%;
  }

  .contact-list .quote {
    font-size: var(--font-size-normal);
  }
}


/* ################################################### */
/* ################################################### */
/* ##                     RESUME                    ## */
/* ################################################### */
/* ################################################### */

.container.resume embed {
  height: 88vh;
}

.container.resume button {
  margin: 0.3rem;
}


/* ################################################### */
/* ################################################### */
/* ##                COOLER DATE                    ## */
/* ################################################### */
/* ################################################### */

.container.dateme {
  padding-top: 3rem;
  max-width: 700px;
}

input#coolerdate {
  width: 400px;
}



/* ################################################### */
/* ################################################### */
/* ##                  NOT FOUND                    ## */
/* ################################################### */
/* ################################################### */

.notfound h1,
.notfound p {
  text-align: center;
  margin: 3rem auto;
}


/* ################################################### */
/* ################################################### */
/* ##                GLOBAL VARIABLES               ## */
/* ################################################### */
/* ################################################### */

/* Check out here: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557  */

:root {
  --light-1: #f6faff;
  --light-2: #e2e2e6;

  --dark-1: #252424;
  --dark-2: #0b121b;

  --primary: #3fa8f9;
  --secondary: #137DCE;

  --red-vanilla: #E63946;
  --white-vanilla: #fefefe;
  --light-blue: #a2dcf9;
  --light-blue-darker: #7dbfe1;
  --dark-blue: #075789;
  --dark-blue-ligher: #0767a3;
  --purple-1: #a344a3;
  --light-pink-1: #d984d9;
  --light-pink-2: #FFAFFF;

  --black-blue: #598fbf;
  --black-blue-2: #0f5f9c;

  --nav-link-padding: 0.5rem;
  --nav-link-padding-side: 1rem;

  --font-size-small: 14px;
  --font-size-normal: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 30px;
}