/**************************************************************************
  APP 
*/
.App {
  text-align: center;
  background-color: var(--light-1);
  color: var(--text-color-1);
  height: 100%;
  min-height: 100vh;
  font-size: var(--font-size-normal);
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: var(--font-size-large);
}

h5 {
  font-size: var(--font-size-normal);
}

.xlarge {
  font-size: var(--font-size-xlarge);
}

section {
  padding: 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 1340px;
  margin: 0 auto
  /* display: flex; */
  /* flex-wrap: inherit; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.row {
  display: flex;
}
.column {
  /* flex: 50%; */
  flex: none
}
.left.intro {
  width: 40%;
}
.right.intro {
  width: 52%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

p {
  text-align: justify;
  text-justify: inter-word;
}

div.background-color-2 {
  background: var(--light-1);
}

img.rodo-portrait {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.text-align-left {
  text-align: left;
}

/**************************************************************************
  NAV BAR 
*/
nav {
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: var(--light-1);
  box-shadow: 5px 6px 6px 5px cal(var(--light-1)*0.2);
  z-index: 1; /* Overlay content / Make element lie above others */
  border-top: 5px solid #424242;
  border-bottom: 1px solid #c6c6c6;
  /* box-shadow: 1px 10px 10px 0 var(--white); */
}

.navbar {
  --bs-navbar-padding-y: 0.1rem; /* nav bar height */
  /* Sticky properties */
  position: sticky;  
  top: 0;
}

div.container-fluid {
  max-width: 1340px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

/* NAV ITEM */
a.nav-link {
  text-decoration: none;
  padding: var(--nav-link-padding) var(--nav-link-padding-side);
  text-align: center;
  display: inline-block;
  font-size: var(--font-size-normal);
  border-radius: 0.5rem;
  /* transition: 0.2s; */
  /* text-shadow: 0px 0px 2px ; */
  /* font-weight: bold; */
}
a.nav-link:hover {
  background-color: var(--light-2);
}

a.nav-link{
  color: var(--text-color-1);
}

a.nav-link.brand {
  font-size: var(--font-size-large)
}

.nav {
  --bs-nav-link-color: var(--white);
  --bs-nav-link-hover-color: var(--white);
}



/**************************************************************************
  List 1000 
*/


/**************************************************************************
  MODAL 
*/
.modal {
  --bs-modal-bg: var(--dark-background-4);
}


/**************************************************************************
  CARD 
*/
.card {
  --bs-card-border-radius: 0.5rem;
  --bs-card-inner-border-radius: calc(0.5rem - 1px);
}
.card-body {
  background-color: var(--light-2);
  border-color: var(--light-2);
  border-radius: 0 0 .5rem .5rem;
}
.bg-dark {
  --bs-bg-opacity: 0.1;
}

/**************************************************************************
  BUTTON 
*/
.btn-primary {
  /* --bs-btn-bg: var(--light-2); */
  margin: 0 0.2rem;
  --bs-btn-focus-shadow-rgb: none;
  font-size: var(--font-size-normal);
}

/**************************************************************************
  BUTTON 
*/
footer {
  height: 200px;
}

/**************************************************************************
  GLOBAL VARIABLES 
  Check out here: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557
*/
:root {
  --text-color-1: #000000;
  --light-1: #dee1e5;
  --light-2: #cacaca;
  
  --red-vanilla: #E63946;
  --white-vanilla: #fefefe;
  --light-blue: #A8DADC;
  --pale-blue: #457B9D;
  /* --dark-blue-1: #1D3557;
  --dark-background: #273952;
  --light-1: #293d56; */
  --dark-background: #003060;
  --dark-xbackground-2: #055C9D;
  --dark-xbackground-3: #003B73;
  --dark-xbackground-4: rgb(28, 77, 126);
  --black-blue: #4C6983;
  --black-blue-2: #46647b;
  --bs-card-color: #111111;

  --nav-link-padding: 0.5rem;
  --nav-link-padding-side: 1rem;

  --font-size-normal: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 30px;

  --bs-body-color: var(--white);
}

