/* ################################################### */
/* ################################################### */
/* ##                   CONTACT                     ## */
/* ################################################### */
/* ################################################### */

.contact-list {
  max-width: 600px !important;
}

.contact-list {

  & .quote {
    font-style: italic;
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: var(--dark-8)
  }

  & .author {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
    color: var(--dark-8)
  }

}

.icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 500px) {
  .contact-list .center {
    margin-left: 7%;
    margin-right: 7%;
  }

  .contact-list .quote {
    font-size: var(--font-size-normal);
  }

  .contact-list .author {
    font-size: var(--font-size-small);
  }
}